body{
    background: Grey;
}
h1{
    font-size: 40px;
    background: blue;
}

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

b {
    font-size: ;
    font-family: Arial, Helvetica, sans-serif;
}
